<template name="Header">
    <img style="max-height: 200px" class="ui fluid image" src="/images/1.jpg">
    <div style="margin: 0px; border-radius:0px" class="ui borderless inverted menu">
  <div class="ui container">
      <a class="item"><h1>Study Buddy</h1></a>
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Home</h1></a>
    <!--{{#if currentUser}}-->
    <a class="{{ isActiveRoute 'Existing_Session_Page'}} item" href="{{ pathFor 'Existing_Session_Page' }}">Existing Session Page </a>
      <a class="{{ isActiveRoute 'Create_Session_Page'}} item" href="{{ pathFor 'Create_Session_Page' }}">Create a Study Session </a>
      <a class="{{ isActiveRoute 'Profile_Page'}} item" href="{{ pathFor 'Profile_Page' }}">Profile Page </a>
    <!--{{ /if }}-->
    <a class="{{ isActiveRoute 'Login_Page'}} fitted right item" href="{{ pathFor 'Login_Page' }}">Login </a>
    </div>
  </div>
</template>